<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | RECT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container theme-showcase" role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </div>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
